[*.cs]

# IDE0160: Convert to block scoped namespace
csharp_style_namespace_declarations = file_scoped

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = discard_variable
